$aligns: (start:left, center:center, end:right, justify: justify);
$text-transforms: lowercase capitalize uppercase;


@each $key, $value in $aligns {
  .text-#{$key} {
    text-align: $value !important;
  }
}


@each $element in $text-transforms {
  .text-#{$element} {
    text-transform: $element !important;
  }
}