// depends on config only
@use  'style/root';
@use  'style/color';
@use  'style/hover/color' as hover-color;
@use  'style/background-color';
@use  'style/hover/background-color' as hover-background-color;
@use  'style/selection';




// depends on config and sibling module
@use  'style/scrollbar';                          // depends on overflow




// no dependency
@use  'style/text';
@use  'style/cursor';
@use  'style/grid';




// others
@use  '../dist/js/afancy.css';
